/* You can add global styles to this file, and also import other style files */

.container {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  
    .table-container {
      width: 100%;
      margin-bottom: 20px;
      margin-left: 50px;
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h2 {
        background-color: #cdcdcd;
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        font-size: 1.5rem;
        text-align: center;
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
  
        th,
        td {
          padding: 10px;
          text-align: center;
        }
  
        th {
          background-color: #fafafa;
          border-bottom: 1px solid #ddd;
        }
  
        tr:nth-child(even) {
          background-color: #f9f9f9db;
        }
      }
  
      input {
        width: 92%;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
  
      button {
        display: block;
        width: calc(100% - 20px);
        margin: 0 10px 10px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  
  .vote-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .input-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
  
      label {
        margin-bottom: 5px;
        font-size: 1rem;
      }
  
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
  
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: #28a745;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      text-align: center;
  
      &:hover {
        background-color: #218838;
      }
    }
  }
  
  // Responsive Styles
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 10px;
    }
  
    .table-container {
      margin-bottom: 15px;
  
      input,
      button {
        width: calc(100% - 20px);
        margin: 0 10px 10px;
      }
    }
  
    .vote-inputs {
      padding: 10px;
  
      .input-group {
        margin-bottom: 10px;
      }
  
      button {
        padding: 10px;
      }
    }
  }
  